<body><div class="box">
    <div class="center">
<!--<a class="button" (click)="add()">Addition</a>--
<a class="button" (click)="sub()">Subtraction</a>--
<a class="button" (click)="mul()">Multiplication</a>--
<a class="button" (click)="div()">Division</a>-->
    <a class="button" routerLink="add" routerLinkActive="active">Addition</a>--
    <a class="button" routerLink="sub" routerLinkActive="active">Subtraction</a>--
    <a class="button"routerLink="mul" routerLinkActive="active">Multiplication</a>--
    <a class="button"routerLink="div" routerLinkActive="active">Division</a>--
    <marquee>
        <p>Click Above to Perform Arithmetic Operations</p>
        </marquee>
</div></div></body>

    
