<body><form><br><div class="box"><h1>
    <div class="center">
    <div class="input">
        <label>FirstNumber--></label>
        <input type="text" name="FirstNumber" [(ngModel)]="FirstNumber">
    </div><br>
    <div class="input">
        <label>SecondNumber--></label>
        <input type="text" name="SecondNumber" [(ngModel)]="SecondNumber">
    </div><br><button class="btn btn-success">
    <button class="btn btn-success"><button (click)="Division()">Division<div class="space"></div></button></button></button><br>
    Result is==><b>{{Result}}</b></div></h1></div></form></body>